<form #touForm="ngForm">
  <div class="form-group">

    This is text like no other text. I don't have a -actually emmet comes with lorem text :)-Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, porro quo cum odio, facere ullam blanditiis modi architecto vitae omnis at aliquam eos nam soluta repellat optio recusandae animi inventore.

    <input
      type="checkbox"
      name="box"
      ngModel
      #box="ngModel"
      required
    />
  </div>

  <input
    name="submit"

    ngModel="Submit"
    type="button"
    [disabled]="!box.valid"
  />
</form>